* {
    padding:0;
    margin:0;
}

html{
    font:14px;
    font-family: Helvetica;
    color: #000000;
    background-color: #ffffff;
}

body{
    text-align: center;
}

h1{
    font-size: 24px;
    color: #000000;
    padding: 50px 0 50px 0;
    text-transform: uppercase;
}

img {
    width: 200px;
}

.picture{
    position: relative;
    display: inline-block;
    margin: 10px;
}

.pictures {
    padding: 40px 60px;
    background-color: #e6f3f7;
}

@media only screen and (min-width: 320px) {
    .load-more {
        width: 50%;
        padding: 20px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px;
        border: solid 1px #ffffff;
        background: #000000;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .load-more {
        width: 25%;
    }
}


